### Gradle ###
.gradle/
build/
*/build/
repo/

### Build outputs ###
out/
bin/
*.jar
!gradle/wrapper/gradle-wrapper.jar

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated/
.classpath
.eclipse/
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

### VS Code ###
.vscode/

### Minecraft Modding ###
run/
runs/
logs/
crash-reports/
**/src/generated/**/.cache/

### OS ###
.DS_Store
/.gradle-home/
